Tipo documento: Requisitos.
Widget: DataList.
Autor: ciniguez


Requisitos generales:
    A. Al iniciar el widget se debe mostrar un mensaje para alertar al usuario de que debe comunicarse por wiring.
    
    B. El widget debe poder recibir por WebSocket la lista de datos que serán listadas en pantalla a manera de columna.
    
    C. Cada item de la lista desplegará en nombre del item
    
    D. Se podrá seleccionar secuencialmente uno o varios items.
    
    E. Al seleccionar un item de la lista, se debe enviar como salida la lista de items seleccionados, la entrega de datos debe ser realizada mediante WebSocket.

Definiciones:
    - WebSocket: Comunicación duplex (cliente servidor).


Requisitos especificos:

1. Visuales:

    1.1. Al iniciar el widget se debe mostrar un mensaje para alertar al usuario de que debe hacer el wiring.
    
    1.2. Si llega un item (por Websocket), se agrega el item a la lista.
    

2. Funcionalidad:
    
    2.2. Eventos:
    
        2.2.1. Llega una Item por el websocket:
        
            Se agrega el Item a la lista de Items y se muestra en la lista en pantalla.
            
        2.2.3. Check un Item.
        
            Si existe un Widget tipo Filtro, y está enlazado al widget DataList, se envía a traves de wiring, el id del item pulsado en DataList hacia Filter.


3. Comunicacion:

    3.1. Entrada:
    
    - No aplica
         
    3.2 Salida:
     
        3.2.1. outputItem.- Id del item seleccionado

4. Settings:

    - No procede.

5. Persistencia:

    - No procede.

