<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="HOME" name="nvd3G" version="1.0.0">
	<details>
		<title>nvd3G</title>
		<homepage>https://github.com/wirecloud-fiware/quick-start-development-tutorial</homepage>
		<authors>Carlos Iniguez</authors>
		<contributors>Carlos Iniguez</contributors>
		<email>carlos.iniguez79@gmail.com</email>
		<image>images/graphnvd3.png</image><!-- 170x80 -->
		<description>NVD3 Grpahs with Angular constraints and nvd3</description>
		<longdescription>README.md</longdescription>
		<license>Apache License 2.0</license>
		<licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
		<doc>docs/requirements.txt</doc>
	</details>
	<contents src="index.html" useplatformstyle="true"/>
	<rendering width="5" height="10"/>
	<preferences>
		<preference name="urlServicio" type="text" label="Service URL" description="URL to the service List" default="ws://158.42.185.198:8080/graphws2" />
		<preference name="flagWorkspace" type="list" label="Worksapace :" description="Environment upon which it works" default="local">
			<option label="Local-Simple HTML" value="local"/>
			<option label="Wirecloud" value="wirecloud"/>
		</preference>
		<preference name="typeGraph" type="list" label="Type :" description="Graph Type" default="discreteBarChart">
			<option label="Line" value="lineChart"/>
			<option label="DiscreteBar" value="discreteBarChart"/>
			<option label="Pie" value="pieChart"/>
			<option label="Donut" value="donutChart"/>
		</preference>
		<preference name="attr1" type="list" label="Attribute 1 :" description="X Axis" default="chromosome">
			<option label="Chromosome" value="chromosome"/>
			<option label="Phenotype" value="phenotype"/>
			<option label="Clinical Significance" value="clinicalSignificance"/>
		</preference>
		<preference name="attr2" type="list" label="Attribute 2 :" description="Y Axis" default="Variant">
			<option label="Variantes" value="Variant"/>
		</preference>
		<preference name="environment" type="list" label="Environment :" description="Production or development" default="dev">
			<option label="Development" value="dev"/>
			<option label="Production" value="prod"/>
		</preference>
	</preferences>
	<wiring>
		<outputendpoint name="outputVar" type="text" label="Out Selected" description="The Variable selected" friendcode="codigo"/>
	</wiring>
</widget>
