<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="HOME" name="DataList" version="1.0.0">
	<details>
		<title>DataList</title>
		<homepage>https://github.com/wirecloud-fiware/quick-start-development-tutorial</homepage>
		<authors>Carlos Iniguez</authors>
		<contributors>Carlos Iniguez</contributors>
		<email>carlos.iniguez79@gmail.com</email>
		<image>images/graphnvd3.png</image><!-- 170x80 -->
		<description>Lista de Datos</description>
		<longdescription>README.md</longdescription>
		<license>Apache License 2.0</license>
		<licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
		<doc>docs/requirements.txt</doc>
	</details>
	<contents src="index.html" useplatformstyle="true"/>
	<rendering width="5" height="15"/>
	<preferences>
		<preference name="urlServicio" type="text" label="Service URL" description="URL to the service List" default="http://localhost:8080/2-ProveedorRest/rest/vcf/graph" />
		<preference name="attr1" type="list" label="Attribute 1 :" description="X Axis" default="chr">
			<option label="Chromosome" value="chr"/>
			<option label="Variantes" value="idVariant_Called"/>
			<option label="Position" value="pos"/>
			<option label="IdSNP" value="idSNP"/>
			<option label="ReferenceAllele" value="referenceAllele"/>
			<option label="AltAlleles" value="altAlleles"/>
			<option label="Quality" value="quality"/>
			<option label="Filter" value="filter"/>
			<option label="Format" value="format"/>
		</preference>
		<preference name="environment" type="list" label="Environment :" description="Production or development" default="dev">
			<option label="Development" value="dev"/>
			<option label="Production" value="prod"/>
		</preference>
	</preferences>
	<wiring>
		<outputendpoint name="outputItem" type="text" label="Variable selected output" description="The Variable number selected" friendcode="codigo"/>
	</wiring>
</widget>
