<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="HOME" name="DataList" version="1.0.0">
	<details>
		<title>DataList</title>
		<homepage>https://github.com/wirecloud-fiware/quick-start-development-tutorial</homepage>
		<authors>Carlos Iniguez</authors>
		<contributors>Carlos Iniguez</contributors>
		<email>carlos.iniguez79@gmail.com</email>
		<image>images/graphnvd3.png</image><!-- 170x80 -->
		<description>Lista Items seleccionables como filtros.</description>
		<longdescription>README.md</longdescription>
		<license>Apache License 2.0</license>
		<licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
		<doc>docs/requirements.txt</doc>
	</details>
	<contents src="index.html" useplatformstyle="true"/>
	<rendering width="4" height="22"/>
	<preferences>
		<preference name="urlServicio" type="text" label="WebSocket URL" description="URL to the service List" default="ws://158.42.185.198:8080/graphws2" />
		<preference name="attr1" type="list" label="List by:" description="Item list" default="samples">
			<option label="Samples" value="sample"/>
		</preference>
		<preference name="flagWorkspace" type="list" label="Worksapace :" description="Environment upon which it works" default="local">
			<option label="Local-Simple HTML" value="local"/>
			<option label="Wirecloud" value="wirecloud"/>
		</preference>
		<preference name="environment" type="list" label="Environment :" description="Production or development" default="dev">
			<option label="Development" value="dev"/>
			<option label="Production" value="prod"/>
		</preference>
	</preferences>
	<wiring>
		<outputendpoint name="outputItem" type="text" label="Variable selected output" description="The Variable number selected" friendcode="codigo"/>
	</wiring>
</widget>
